.buttonMainClass {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.buttonMainClass button {
  cursor: pointer;
  margin: 0;
}

.buttonMainClass button:hover {
  background-color: #000;
}

.buttonMainClass button:disabled {
  background-color: #E21E26 !important;
  cursor: none;
}

.login {
  background-color: green;
}


.searchButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #218838;
}

.deleteButton {
  padding: 5px 10px !important;
  background-color: #dc3545 !important;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  justify-self: end;
}

.deleteButton:hover {
  background-color: #c82333;
}



.submitButton {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #45a049;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0056b3;
}


.deleteButton {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.payButton{
  padding: 10px;
  background-color: #b92528;
  outline: none;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.sendBookingDetailsButton,
.confirmButton {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sendBookingDetailsButton:hover,
.confirmButton:hover {
  background-color: #218838;
}


@media(max-width:768px) {
  .buttonMainClass button {
    font-size: 15px;
  }

  .searchButton {
    width: 100%;
    margin-top: 10px;
  }

  .deleteButton {
    justify-self: center;
    margin-top: 10px;
  }


  .addButton {
    padding: 8px 16px;
  }
}